@font-face { 
  font-family: Cute; 
  src: url("../fonts/HelveticaRounded-Bold.otf"); 
}


.game-container {
    padding: 0px;
    border-collapse: collapse;
    
}
.game-container td{
    padding: 1px;
}

.cell{
    width: 1.6em;
    height: 1.6em;
    text-align: center;
    line-height: 1.1em;
    font-size: 1.6em; 
    font-family: Cute;
    color: whitesmoke;
    border-radius: 5px;
}

.fog{
    background-image: url("../images/mist.png");
    background-size: cover;
}

.fog:hover{
    background-image: url("../images/mist_dark.png");
    background-size: cover;
}

.number{
    line-height: 1.5em;
    text-shadow: 1px 3px 2px #000000;
}

.number-fire {
    background-color: rgba(153, 56, 47, .7);
}
.number-water {
    background-image: url(../images/water-mask.png);
}
.number-land {
    background-image: url(../images/land-mask.png);
}
.number-wind {
    background-image: url(../images/wind-mask.png);
}

.element{
    position: relative;
    z-index: 999;
    left: 116px;
    top: 117px;
    width: 2.6em;
    height: 2.6em;
    background-size: cover;
}

.cell-fire{
    background-image: url("../images/fire/fire_cell.png");
}

.cell-water{
    background-image: url("../images/water/water_cell.png");
}

.disappear{
    display: none;
}