body {
    background-image: url(../images/background.jpg);
}

.shadowbox1 {
    padding: 19px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .8), 0 6px 20px 0 rgba(0, 0, 0, .49);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .8), 0 6px 20px 0 rgba(0, 0, 0, .49);
    border-radius: 3px;
    border: 0px;
}

.example {
    background-color: rgba(36, 182, 49, .7);
}

.part1 {
    background-image: url(../images/water-mask.png);
    font-family: "glyphicons halflings regular";
    font-size: 20px;
}

.part2 {
    background-image: url(../images/wind-mask.png);
    font-family: "glyphicons halflings regular";
    font-size: 20px;
}

.part3 {
    background-color: rgba(153, 56, 47, .7);
    font-family: "glyphicons halflings regular";
    font-size: 20px;
}

.part4 {
    background-image: url(../images/land-mask.png);
    font-family: "glyphicons halflings regular";
    font-size: 20px;
}

.part5 {
    background-color: rgba(36, 182, 49, .7);
    font-family: "glyphicons halflings regular";
    font-size: 20px;
}

.fill {
    width: 100%;
}

.fixed {
    position: fixed;
}

.right {
    float: right;
}


.qi a {
    text-decoration: none;
    color: #FFF;
    font-size:1.3em;
}

.cover {
    z-index: 99;
}
