body {
    background-image: url(../images/background.jpg);
    background-position: center top;
    background-size: 100%;
    background-repeat: repeat;
    padding-top: 50px;
    font-family: 微软雅黑;
    color: whitesmoke;
}

.logo {
    width: 200px;
}

.watertext {
    color: #1672a0;
}

.windtext {
    color: #565f56;
}

.landtext {
    color: #805619;
}

.firetext {
    color: #99382f;
}

.shadowbox {
    padding: 19px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    border-radius: 3px;
    border: 0px;
}

.shadowbox1 {
    padding: 19px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .8), 0 6px 20px 0 rgba(0, 0, 0, .49);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .8), 0 6px 20px 0 rgba(0, 0, 0, .49);
    border-radius: 3px;
    border: 0px;
}

.fire {
    background-image: url(../images/water-mask.png);
}

.water {
    background-image: url(../images/wind-mask.png);
}

.land {
    background-color: rgba(153, 56, 47, .7);
}

.wind {
    background-image: url(../images/land-mask.png);
}

.example {
    background-color: rgba(36, 182, 49, .7);
}

.part1 {
    background-image: url(../images/water-mask.png);
    font-family: "glyphicons halflings regular";
    font-size: 20px;
}

.part2 {
    background-image: url(../images/wind-mask.png);
    font-family: "glyphicons halflings regular";
    font-size: 20px;
}

.part3 {
    background-color: rgba(153, 56, 47, .7);
    font-family: "glyphicons halflings regular";
    font-size: 20px;
}

.part4 {
    background-image: url(../images/land-mask.png);
    font-family: "glyphicons halflings regular";
    font-size: 20px;
}

.part5 {
    background-color: rgba(36, 182, 49, .7);
    font-family: "glyphicons halflings regular";
    font-size: 20px;
}

.fill {
    width: 100%;
}

.fixed {
    position: fixed;
}

.right {
    float: right;
}

.artfont {
    font-size: 2em;
    font-family: fantasy;
    color: whitesmoke;
}

.copyright {
    background-color: rgba(0, 0, 0, .4);
}

.content {
    background-color: rgba(50, 30, 20, .5);
}

h1 {
    line-height: 150px;
    height: 150px;
}

h1>small {
    font-size: 0.5em;
}

.qi a {
    text-decoration: none;
    color: #FFF;
}

.cover {
    z-index: 99;
}
