#main_body{
    width: 100%;
    background-image: url("../images/art_bg.jpg");
}
.top_part{
    margin-left: 20%;
    width: 60%;
    height: 1700px;
}
.bottom_part{
    height: 400px;
    background-color: #585858;
}
#head_leading{
    width: 100%;
}
#head_leading div{
    float: left;
    margin-top: 20%;
    margin-left: 4%;
    font-size: 31px;
    font-weight: bold;
}
#logo{
    float: left;
}
#logo img{
}
#download{
    width: 40%;
    margin-left: 5%;
}
#download img{
    float: left;
    margin-top: 5%;
    width:100%;
    border: 2px white solid;
}
.body{
    
}
#bgstory{
    margin-left: 3%;
    margin-top: 3%;
    float: left;
    
    height: 400px;
    width: 60%;
}
#bgstory_title{
    font-size: 50px;
    height: 80px;
    line-height: 80px;
    margin-left: 20px;
    color: white;
}
#bgstory_text{
    color: white;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}
#introduction{
    margin-left: 3%;
    margin-top: 3%;
    float: left;
    
    height: 480px;
    width: 60%;  
}
#introduction_title{
    font-size: 50px;
    height: 70px;
    line-height: 70px;
    margin-left: 20px;
    color: white;
}
#introduction_text{
    color: white;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
#character{
    float: right;
    margin-right: 3%;
    margin-top: 3%;
    
    height: 820px;
    width: 30%;  
}
#character_title{
    font-size: 50px;
    height: 70px;
    line-height: 70px;
    margin-left: 20px;
    color: white;
}